
<html>
<head>
    <link href= "/public/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    
    <h1>Enter name to play</h1>
        <div class="player_container">
            
            <form method="POST" action="/">
                <label>Username</label>
                <input type="text" name="username">
                <label>Password</label>
                <input type="text" name="password">
                <input type="submit" value="Submit">
            </form>  
        </div>   
</body>


</html>
