header{
    text-align: center;
    padding-bottom: 10px;
    border-bottom:3px solid blue;
}

#setup-game *{ 
     /* all the children of setup-game */
  margin-bottom: 20px;
  
  align-items: center;
}

button{
    justify-self:center;   
}
#game{
  
}


#board{
    border:royalblue;
    left: 50%;
    top: 65%;
    position: absolute;
transform: translate(-50%, -50%);
    width: 600px;
    height:600px;
 
}
#win_msg{display: none;}
#submit_btn{
    background-color: #021403;
    border: none;
    color: rgb(184, 185, 187);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
 .header_btn{
    background-color: royalblue;
    border: none;
    color: rgb(184, 185, 187);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
 }
.tile{
    border:1px solid black;
    width: 65px;
    height: 65px;
    text-align: center;
    margin:0px;
    vertical-align: middle;
    font-size:40px;
}


.selected{
    background-color: yellow;
}
.unselected{
    
    background-color: white;
}

.false{
    background-color: red;
}
.right{
    background-color: yellowgreen;
}
.rightBorder{
border-right:4px solid black;
}
.bottomBorder{
    border-bottom:4px solid black;
    
    }
footer{
    background-color: rgb(133, 133, 133);
    text-align: center;
}
.player_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.warning_msg{
    color:red;
}
.submit_score{
    align-items: center;
}
h1{
    text-align: center;
}